@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model RegistrationViewModel


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
</head>
<body>
    <form form method="post" data-ajax="true" data-ajax-complete="myComplete" asp-action="Registration" asp-controller="Registration" asp-antiforgery="true">
        <div>
            <p>Ваше имя:</p>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div>
            <p>Ваш пароль:</p>
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
        <div>
            <p>Подтвердите ваш пароль:</p>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
        </div>
        <div>
            <p>Введите Email</p>
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <p>Введите ваш возраст</p>
            <input required type="text" asp-for="Age" />
            <span asp-validation-for="Age"></span>
        </div>

        <div>
            <p>Введите ваш никнейм в BrawlStars</p>
            <input type="text" asp-for="BrawlAccountName" />
            <span asp-validation-for="BrawlAccountName"></span>
        </div>

        <div>
            <p>Введите общее количество кубков на вашем аккауте</p>
            <input required type="text" asp-for="CountOfCups" />
            <span asp-validation-for="CountOfCups"></span>
        </div>

        <div>
            <input type="submit" value="Зарегестрироваться" />
        </div>
    </form>
    <div>
        <p>Уже есть аккаунт?<p>
            <a href="~/Autorisation/AutorisationToTheSite">Войти</a>
    </div>
</body>
</html>


