
@{
    Layout = "_MainLayout";
}
@model ApplicationAddViewModel
<form asp-action="Add" asp-controller="Applications" method="post">
    <div>
        <p>Выберите бравлера</p>
        <div>
            <select asp-for="BrawlerName">
                @{
                    foreach (Brawler elem in ViewBag.Brawlers)
                    {
                        <option>@elem.Name</option>
                    }
                }
            </select>
        </div>

        <div>
            <p>Выберите количество кубков</p>
            <div>
                <input type="number" required asp-for="CountOfCups" />
                <span asp-validation-for="CountOfCups"></span>
            </div>
        </div>

        <div>
            <p>Есть ли у вас возможость общаться по голосовому чату?</p>
            <div>
                <select asp-for="HasVoiceChat">
                    <option value="false">Нет</option>
                    <option value="true">Да</option>
                </select>
            </div>
        </div>

        <div>
            <p>Напишите пару слов о себе и о данной заявке(например в каком режиме хотите играть, в какое время вам удобно играть)</p>
            <div>
                <input type="text" asp-for="Description"/>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>
    <input type="submit" value="Отправить" />
</form>
