
@{
    Layout = "_MainLayout";
}
@model Application
@using (Html.BeginForm())
{
    <div>
        
    </div>
    <div>
        
    </div>
    <div>
        <p>Выберите бравлера</p>
        <div>
            @{
                @Html.DropDownListFor(x => x.BrawlerName, ViewBag.BrawlerListItems as SelectList)
            }
        </div>
        <p>Выберите количество кубков</p>
        <div>
            @{
                var cups = new int[20];

                for (int i = 0; i < 20; i++)
                {
                    cups[i] = i * 50;
                }
                @Html.DropDownListFor(x => x.CountOfCups, new SelectList(cups));
            }
        </div>
    </div>
    <input type="submit" value="enter" />
}
