.header{
    background: var(--green-color);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content{
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content__link {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}