.userInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
}

._active {
    display: flex;
}

body._lock {
    overflow: hidden;
}

.userInfo__content {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    overflow: auto;
}

.userInfo__content__title {
    margin-bottom: 20px;
}

.userInfo__content__text {
    margin-bottom: 10px;
}

#banButton {
    color: white;
    padding: 0 10px;
    height: 35px;
    background: var(--red-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

    #banButton:hover {
        background: var(--redHover-color);
    }

.userInfo__content__exit {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
}

    .userInfo__content__exit::after,
    .userInfo__content__exit::before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 2px;
        background: white;
        top: 35%;
        position: absolute;
    }

    .userInfo__content__exit::before {
        transform: rotate(45deg);
    }

    .userInfo__content__exit::after {
        transform: rotate(-45deg);
    }

.admin {
}

.admin__container {
    margin: 0 auto;
}

.admin__header {
    justify-content: space-around;
    background: var(--green-color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 49;
}

.admin__header__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

    .admin__header__item:first-child {
        border-bottom: 3px solid white;
    }

.admin__content {
    padding: 5% 0;
    max-width: 1280px;
    margin: 0 auto;
}

.admin__content__item {
    display: flex;
    background: white;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.admin__content__item:nth-child(2n - 1){
    background: var(--gray-color);
}

.admin__content__items {
    display: none;
}

._active__adminMenu {
    display: block;
}

.admin__item__first {
    display: flex;
    margin: 0 20px 0 0;
}

.admin_item__photo {
    min-width: 175px;
    min-height: 175px;
    max-height: 175px;
    position: relative;
    background: var(--gray-color);
    margin: 0 20px 0 0;
}

    .admin_item__photo img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        object-fit: contain;
    }

.admin__item__info {
}

.admin__info__title {
    margin: 0 0 20px 0;
}

.admin__info__cup {
    margin: 0 0 10px 0;
    word-wrap: break-word;
}

.admin__info__desc {
    max-width: 800px;
}

.admin__item__control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    text-align: right;
    position: relative;
}

.admin__control__name {
}

.admin__info__admin {
    margin-top: 10px;
}

.admin__control__button,
.admin__item__button {
    color: white;
    padding: 0 10px;
    height: 35px;
    background: var(--green-color);
    border-radius: 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    z-index: 2;
}

    .admin__control__button:hover,
    .admin__item__button:hover {
        background: var(--greenHover-color);
    }

.admin__control__button__delete {
    color: white;
    padding: 0 10px;
    height: 35px;
    background: var(--red-color);
    border-radius: 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

    .admin__control__button__delete:hover {
        background: var(--redHover-color);
    }

._active__delete__button {
    bottom: -20%;
}

.admin__items__users{
    margin-top: 20px;
}
.userInfo__content__items{
    margin: 20px 0 0 0;
}