.search {
    max-width: 700px;
    margin: 20px auto;
}

.content__search__rangeCost {
    margin: 20px 0;
    position: relative;
    width: 100%;
    background-color: var(--darkGray-color);
    padding: 20px 0;
    border-radius: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

    input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 5px;
    }

    input[type="range"]::-moz-range-track {
        -moz-appearance: none;
        height: 5px;
    }

    input[type="range"]::-ms-track {
        appearance: none;
        height: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 25px;
        width: 25px;
        background-color: black;
        cursor: pointer;
        margin-top: -9px;
        pointer-events: auto;
        border-radius: 50%;
    }

    input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 25px;
        width: 25px;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--yellow-color);
        pointer-events: auto;
    }

    input[type="range"]::-ms-thumb {
        appearance: none;
        height: 25px;
        width: 25px;
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--yellow-color);
        pointer-events: auto;
    }

    input[type="range"]:active::-webkit-slider-thumb {
        background-color: #ffffff;
        border: 3px solid var(--yellow-color);
    }

.content__search__rangeCost__values {
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}

.content__search__rangeCost__container {
    position: relative;
    width: 100%;
    height: 50px;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

.application__title {
    text-align: center;
}

.filtration_params__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

select {
    margin: 0 0 0 20px;
    min-width: 100px;
    height: 30px;
    border-radius: 5px;
    padding: 0 5px;
}

.filtration_params__input {
    height: 40px;
    width: 100%;
    margin: 20px 0 0 0;
}

    .filtration_params__input input[type='text'] {
        width: 80%;
        height: 100%;
        background: var(--gray-color);
        border-radius: 5px;
        padding: 0 20px;
    }

    .filtration_params__input input[type='button'] {
        width: 18.5%;
        height: 100%;
        background: var(--green-color);
        border-radius: 5px;
        padding: 0 20px;
        color: white;
        cursor: pointer;
        margin-left: 5px;
    }

        .filtration_params__input input[type='button']:hover {
            background: var(--greenHover-color);
        }
