:root {
    --green-color: #006729;
    --greenHover-color: #018d39;
    --darkGray-color: #d2d2d2;
    --gray-color: #f1f1f1;
    --blue-color: rgb(75, 153, 255);
    --blueHover-color: rgb(134, 187, 255);
    --red-color: #ff4747;
}

body {
    background: var(--darkGray-color);
}
.field-validation-error {
    color: var(--red-color);
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid var(--red-color);
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: var(--red-color);
}

.text1 {
    font-size: 20px;
    color: var(--darkGray-color);
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 700;
}

.text3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.content {
    max-width: 1280px;
    margin: 0 auto;
}

.liked {
    fill: blue;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.unliked {
    fill: red;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.count {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}