@{
    Layout = null;
}
@model IEnumerable<User>

@{
    foreach (var user in Model)
    {
        <div class="user__info" id="@user.Name">
            <div>
                <span>username: </span>
                <span>@user.Name</span>
            </div>
            <div>
                <span>админ: </span>
                <span>@user.IsAdmin</span>
            </div>
            <div>
                <button onclick="getUserInfo('@user.Name')">больше данных</button>
            </div>
        </div>
    }
}