@{
    Layout = null;
}
@model IEnumerable<User>

@{
    foreach (var user in Model)
    {
        <div class="admin__content__item">
                        <div class="admin__item__info">
                            <div class="text3 admin__info__name">Логин: @user.Name</div>
                            <div class="text3 admin__info__admin">Админ: @user.IsAdmin</div>
                        </div>
                        <button class="text3 admin__item__button" onclick="getUserInfo('@user.Name')">Больше
                            данных</button>
                    </div>
    }
}